body {
    background: url("../dogwalking.gif");
    background-repeat: repeat;
}

/*border-image: url(https://cdn.dribbble.com/users/1731080/screenshots/6171472/main_cycle.gif) repeat;*/

h1 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 3em;
    margin: 0.4em;
    padding: 0.2em;
    border-style: double;
    border-radius: 60px; 
    border-color: whitesmoke;
    /*background-color: lightsteelblue;*/
    color: black;
    text-shadow: 1px 1px 20px black, 0px 0px 10px ghostwhite, 0px 0px 10px blue; 
    background-color: darkgrey;
}

p  {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive; 
    font-size: 1.4em;
    line-height: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

img {
    border-style: double;
    border-color: black;
    display: block;
    margin: 0 auto;
}

#lefts {
  overflow: hidden;
  display: inline;
  float: left;
}

#lefts h2 { 
    text-align: center;
}

#lefts li {
   list-style-type: none;  
    text-align: center;
}

#rights {
  overflow: hidden;
  float: right;
  display: inline; 
}

#rights li {
   list-style-type: none;   
    text-align: center;
} 

#rights h2 { 
    text-align: center;
}


#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center; 
  border-bottom-width: thick; 
  border-bottom-color: black;
  border-bottom-style: groove;
}
	
#nav li {
  display: inline;
  padding-right: 2em;
}

#nav a {
  text-decoration: none;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: white;
}

#nav a:hover {
  text-decoration: underline;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: black; 
}

#nav a.active{
  color: black;
}

h2 {
    text-align: center;
}

ul {
   font-family: 'Delius Swash Caps', cursive;  
    line-height: 2em;
}


footer {
    text-align: center;
    background-color: royalblue;
    padding-bottom: 1em;  
    padding-top: 1em;
    /*position: fixed;*/ 
    width: 100%;
    margin-bottom: -50px;
    height: 80px;
    
}
#rotate {
    transform: rotate(90deg);
}


#div {
    max-width: 120em;
    height: 55em;
    margin: 1em;
    border: 1em solid; 
    background-color: gray; 
}

#image-div {
    display: block;
    width: 60px
    height: 40px;
    overflow: hidden   
}
