body {
    background: url("../dogwalking.gif");
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*border-image: url(https://cdn.dribbble.com/users/1731080/screenshots/6171472/main_cycle.gif) repeat;*/

#wrapper {
    min-height: 100%;
    position: relative;
    
}
h1 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 3em;
    margin: 0.4em;
    padding: 0.2em;
    border-style: double;
    border-radius: 60px; 
    border-color: whitesmoke;
    /*background-color: lightsteelblue;*/
    color: black;
    text-shadow: 1px 1px 20px black, 0px 0px 10px ghostwhite, 0px 0px 10px red; 
    background-color: darkgrey;
}

p  {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive; 
    font-size: 1.7em;
    line-height: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;body {
    background-color: dimgray;
    margin: 0;
    padding: 0;
    height: auto;
}

.div {
    width: auto;
    height: auto;
    margin: 1em;
    border: 1em solid; 
    background-color: gray;
}

h1 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 5vw;
    margin: 0.4em;
    padding: 0.2em;
    border-style: double;
    border-radius: 60px; 
    border-color: whitesmoke;
    /*background-color: lightsteelblue;*/
    color: black;
    text-shadow: 1px 1px 20px black, 0px 0px 10px ghostwhite, 0px 0px 10px red; 
    background-color: darkgrey;
}

p  {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive; 
    line-height: 2em;
    color: black;  
    max-height: inherit;
    max-width: inherit;
    padding-left: .5em; 
    padding-right: .5em;
    font-size: 3.0vw;
}

section {
        text-align: center;
    padding-bottom: 1.2em;
}

#contact {
  overflow: hidden;
    float: center;
    border-style: double;
    margin-right: 20em;
    margin-left: 20em;
    background: url("../images/thanksdog.jpg");
    background-repeat: no-repeat;
    background-size: cover;

} 

#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center; 
  border-bottom-width: thick; 
  border-bottom-color: black;
  border-bottom-style: groove;
}
	
#nav li {
  display: inline;
  padding-right: 2em;
}

#nav a {
  text-decoration: none;
  font-family: cursive, sans-serif;
 font-size: 3vw;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: white;
}

#nav a:hover {
  text-decoration: underline;
  font-family: cursive, sans-serif;
   font-size: 3.5vw;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: black; 
}

#nav a.active{
  color: black;
}

h2 {
    font-size: 3vw;
    text-align: center;
    border-radius: 60px; 
    border-color: blue;
    color: black;
    background-color: darkgrey;
}


ul {
   font-family: 'Delius Swash Caps', cursive;  
    line-height: 2em;
}


footer {
    text-align: center;
    background-color: royalblue;
    position: relative;
    bottom: absolute;
    max-width: auto;
    font-size: 2.4vw;
}

.rotateimg90 {
    transform: rotate(90deg);
    bottom: absolute; 
    max-width: auto;
    max-height: auto;
    position: relative;
}

    margin-left: 1.5em;
    margin-right: 1.5em;
    color: black;
}

img {
    border-color: black;
    display: block;
    margin: 0 auto;
}


#contact {
  overflow: hidden;
    float: center;
    border-style: double;
    margin-right: 20em;
    margin-left: 20em;
    background: url("../images/thanksdog.jpg");
    background-repeat: no-repeat;
    background-size: cover;

} 

#contact li {
    list-style-type: none;  
    text-align: center;
    overflow: hidden;
    margin-right: 2em;
    font-size: 1.5em;
        line-height: 2em;
}

#contact h3 {
    font-size: 2.0em;
    text-align: center;
    
}
#lefts {
  overflow: hidden;
  display: inline;
  float: left;
    margin-left: 4em;
/*    margin-right: 20em;*/
}


#lefts h2 { 
    text-align: center;
        font-size: 2em;
}

#lefts li {
   list-style-type: none;  
    text-align: center;
    overflow: hidden;
    margin-right: 2em;
 font-size: 1.4em;
        line-height: 2em;
}

#rights {
  overflow: hidden;
  float: right;
  display: inline; 
    margin-right: 4em;
/*        margin-left: 20em;*/
}

#rights li {
   list-style-type: none;   
    text-align: center;
    overflow: hidden;
    margin-right: 1.em;
    font-size: 1.4em;
    line-height: 2em;
} 

#rights h2 { 
    text-align: center;
    margin: 0.3em;
    font-size: 2em;
}

#center {
  overflow: hidden;
  display: inline;
  float: center;
}

#center img {
      transform: rotate(90deg);
    width: auto;
    height: 40%; 
    margin: 0 auto;
    padding-top: 2.7em;
    border: none;
}

#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center; 
  border-bottom-width: thick; 
  border-bottom-color: black;
  border-bottom-style: groove;
}
	
#nav li {
  display: inline;
  padding-right: 2em;
}

#nav a {
  text-decoration: none;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: white;
}

#nav a:hover {
  text-decoration: underline;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: black; 
}

#nav a.active{
  color: black;
}

h2 {
    text-align: center;
}

ul {
   font-family: 'Delius Swash Caps', cursive;  
    line-height: 2em;
}


footer {
    text-align: center;
    background-color: royalblue;
    position: absolute;
    left: 0px;
    bottom: 0px;
    /*position: fixed;*/ 
    width: 100%;
    height: 40px;
    padding-top: 1em;
    
}

#rotate {
    transform: rotate(90deg);
}



.div {
    max-width: 120em;
    height: 55em;
    margin: 1em;
    border: 1em solid; 
    background-color: gray; 
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30.33%;
    padding-top: 2em;
    padding-bottom: 2em;   
    padding-left: 1em;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
}
