body {
    background-color: darkgray;
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    font-size: 3em;
}

p  {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive; 
    font-size: 1.4em;
    line-height: 1.5em;
}

img {
    border-style: double;
    border-color: black;
    display: block;
    margin: 0 auto;
}


#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
	
#nav li {
  display: inline;
  padding-right: 2em;
}

#nav a {
  text-decoration: none;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: white;
}

#nav a:hover {
  text-decoration: underline;
  font-family: cursive, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
  text-transform: normal;
  letter-spacing: normal;
  line-height: 1.5em;
  color: black; 
}

#nav a.active{
  color: black;
}

h2 {
    text-align: center;
}

ul {
   font-family: 'Delius Swash Caps', cursive;  
    line-height: 2em;
}


footer {
    text-align: center;
    bottom: auto;
}
